# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environment
venv/
.env

# Data files (too large for git)
data/raw/*.csv
data/processed/*.csv

# Model artifacts
models/*.joblib
models/*.pkl
models/*.png


# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
